<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Dhee Studio</title>
    <!--
      Brand font for the wordmark only (top-bar "Dhee Studio" + empty
      state title). Body text continues to use the system stack from
      tokens.scss. Italic serif gives the brand a distinct character
      from the rest of the UI chrome. Fallbacks (Georgia, serif) cover
      offline launches and CSP blocks.
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
